<a href="https://colab.research.google.com/github/Who1sWill/Imersao_Dados_Alura/blob/main/Todas_as_aulas_Imers%C3%A3o_de_dados_com_Python_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 - Analise de Dados com Pandas

In [ ]:
# @title
import pandas as pd

In [ ]:
# @title
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
# @title
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
# @title
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
# @title
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
# @title
df.shape

(133349, 11)

In [ ]:
# @title
linhas, colunas = df.shape[0], df.shape[1];
print("Linhas:", linhas, "Colunas:", colunas)

Linhas: 133349 Colunas: 11

In [ ]:
# @title
df.columns

Index(['ano', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_funcionario',
       'taxa_remoto', 'local_empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
# @title
df.rename(columns={
    'ano_trabalho': 'ano',
    'nivel_experiencia': 'senioridade',
    'tipo_emprego': 'contrato',
    'cargo': 'cargo',
    'salario': 'salario',
    'moeda_salario': 'moeda',
    'salario_em_usd': 'usd',
    'residencia_funcionario': 'residencia',
    'taxa_remoto': 'remoto',
    'local_empresa': 'empresa',
    'tamanho_empresa': 'tamanho_empresa'
}, inplace=True)

df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
# @title
df["senioridade"].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
# @title
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
# @title
df["remoto"].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
# @title
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [ ]:
# @title
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

df['contrato'].value_counts()

contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [ ]:
# @title
df['senioridade'] = df['senioridade'].replace({
    'SE': 'Snior',
    'MI': 'Pleno',
    'EN': 'Jnior',
    'EX': 'Executivo'
})

df['senioridade'].value_counts()

senioridade
Snior       77241
Pleno        40465
Jnior       12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
# @title
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'M': 'Mdia',
    'L': 'Grande',
    'S': 'Pequena'
})

df['tamanho_empresa'].value_counts()

tamanho_empresa
Mdia      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [ ]:
# @title
df['remoto'] = df['remoto'].replace({
    0: 'Presencial',
    100: 'Remoto',
    50: 'Hbrido'
})

df['remoto'].value_counts()

remoto
Presencial    105312
Remoto         27718
Hbrido          319
Name: count, dtype: int64

In [ ]:
# @title
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Snior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Mdia
1,2025.0,Snior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Mdia
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Mdia
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Mdia
4,2025.0,Jnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Mdia

In [ ]:
# @title
df.describe(include=object)

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Snior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Mdia
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [ ]:
# @title
df.describe()

                 ano       salario            usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000

# Aula 2 - Preparao e Limpeza dos Dados

In [45]:
df.isnull()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [46]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Snior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Mdia
1,2025.0,Snior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Mdia
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Mdia
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Mdia
4,2025.0,Jnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Mdia

In [47]:
df.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [49]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [50]:
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Snior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Mdia
59692,NaN,Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Mdia
59710,NaN,Jnior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Mdia
59759,NaN,Snior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Mdia
59789,NaN,Snior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Mdia
131000,NaN,Snior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Mdia
131006,NaN,Snior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Mdia
133054,NaN,Jnior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Tempo Integral,Data Scientist,130000,USD,130000,US,Hbrido,US,Grande

In [64]:
import numpy as np
df_salarios = pd.DataFrame({
    'nome':["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'salario': [4000, np.nan, 5000, np.nan, 100000 ]
})

#calcula a media salarial e substitui os nulos pela mdia e arredonda os valores
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

''' Calcula a mediana e substitui os nulos pela mediana

'''

df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())
df_salarios

      nome   salario  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [65]:
df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda", "Tera", "Quarta", "Quinta", "Sexta"],
    "Temperatura": [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["Preenchido_ffill"] = df_temperaturas["Temperatura"].ffill()
df_temperaturas

       Dia  Temperatura  Preenchido_ffill
0  Segunda         30.0              30.0
1    Tera          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [66]:
df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda", "Tera", "Quarta", "Quinta", "Sexta"],
    "Temperatura": [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["Preenchido_bfill"] = df_temperaturas["Temperatura"].bfill()
df_temperaturas

       Dia  Temperatura  Preenchido_bfill
0  Segunda         30.0              30.0
1    Tera          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [69]:
df_cidades = pd.DataFrame({
    'nome':["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'cidade': ["So Paulo", np.nan, "Curitiba", np.nan, "Belm"]
})

df_cidades["cidade_preenchida"] = df_cidades["cidade"].fillna("No informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  So Paulo         So Paulo
1    Bruno        NaN     No informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     No informado
4      Val      Belm             Belm

In [70]:
df_limpo = df.dropna()

In [72]:
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [79]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Snior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Mdia
1,2025,Snior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Mdia
2,2025,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Mdia
3,2025,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Mdia
4,2025,Jnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Mdia

In [78]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  int64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   usd              133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  object
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB

In [76]:
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))

# Aula 3 -